@charset "UTF-8";
/* CSS Document */

html, body, div, spna, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/*HTML% display-role reset for older browers*/
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol,ul {
	life-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blcokquote:after, q:before, q:after {
	content: '';
	content: none;
}

table {
	
	border-collapse: collapse;
	border-spacing: 0;
}

/*END CSS RESET*/

/*<uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900*

.urbanist-<uniquifier> {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.righteous-regular {
  font-family: "Righteous", sans-serif;
  font-weight: 400;
  font-style: normal;
}
/

/*about1 styles*/

.about1 {
	width: 100%;
	padding: 78px 0px;
	background-color: white; /*나중에 흰색으로 바꿔*/
}

.contact-info {
	width: 550px;
}

.about-header1 h1 {
	font-size: 85px;
	text-transform: capitalize;
	font-family: "dazzle-unicase", sans-serif;
	font-weight: 900;
	font-style: normal;
	padding-bottom: 20px;
}

.about-header2 h1 {
	font-size: 85px;
	text-transform: capitalize;
	font-family: "dazzle-unicase", sans-serif;
	font-weight: 900;
	font-style: normal;
	padding-bottom: 20px;
}

.about-p {
	font-size: 20px;
	font-family: "dazzle-unicase", sans-serif;
	font-weight: 500;
	font-style: normal;
	margin: 10px 0;
	padding-bottom: 30px;
	/* width: 320px; 이걸 빼면 글자가 리스폰스함*/
}

/*screen divided*/
.main {
	width: 1130px;
	max-width: 65%; /*it was 95%*/
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.about-img {
	width: 550px; /*원래는 5px이었는데 바꿈*/
	height: auto;
	padding-left: 30px;
}

/*about2 styles*/

.about2 {
	width: 100%;
	padding: 78px 0px;
	background-color: pink;
}

.main-b {
	width: 1130px;
	max-width: 100%; /*it was 95%*/
	margin: 0 auto;
	display: contents; /*원래는 flex였는데 contents로 바꾸니까 밑에줄로 내려옴*/
	align-items: center;
	justify-content: space-around;
}

.about2-header h1 {
	font-size: 40px;
	text-transform: capitalize;
	font-family: "dazzle-unicase", sans-serif;
	font-weight: 600;
	font-style: normal;
	padding-bottom: 20px;
	text-align: center;
	width: 1350px;
}

.about-p2 {
	font-family: "Urbanist", sans-serif;
	font-weight: 500;
	width: 1350px;
	text-align: center;
}